<!DOCTYPE html>
<html>
	<head>
	<%- include('./blocks/header') %>
	<script src="/js/classes/User.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<div class="container-fluid">
			<div class="row" style="height:100vh">
				<div class="server-selector">
					<div style="width: 48px;height:48px;background-color: #36393f;border-radius: 50%;display: inline-block;">
						<svg class="homeIcon-r0w4ny" aria-hidden="false" width="32" height="24" viewBox="0 0 32 20" style="color:white" data-toggle="tooltip" data-placement="right" title="Home">
							<path fill="currentColor" d="M23.0212 1.67671C21.3107 0.879656 19.5079 0.318797 17.6584 0C17.4062 0.461742 17.1749 0.934541 16.9708 1.4184C15.003 1.12145 12.9974 1.12145 11.0283 1.4184C10.819 0.934541 10.589 0.461744 10.3368 0.00546311C8.48074 0.324393 6.67795 0.885118 4.96746 1.68231C1.56727 6.77853 0.649666 11.7538 1.11108 16.652C3.10102 18.1418 5.3262 19.2743 7.69177 20C8.22338 19.2743 8.69519 18.4993 9.09812 17.691C8.32996 17.3997 7.58522 17.0424 6.87684 16.6135C7.06531 16.4762 7.24726 16.3387 7.42403 16.1847C11.5911 18.1749 16.408 18.1749 20.5763 16.1847C20.7531 16.3332 20.9351 16.4762 21.1171 16.6135C20.41 17.0369 19.6639 17.3997 18.897 17.691C19.3052 18.4993 19.7718 19.2689 20.3021 19.9945C22.6677 19.2689 24.8929 18.1364 26.8828 16.6466H26.8893C27.43 10.9731 25.9665 6.04728 23.0212 1.67671ZM9.68041 13.6383C8.39754 13.6383 7.34085 12.4453 7.34085 10.994C7.34085 9.54272 8.37155 8.34973 9.68041 8.34973C10.9893 8.34973 12.0395 9.54272 12.0187 10.994C12.0187 12.4453 10.9828 13.6383 9.68041 13.6383ZM18.3161 13.6383C17.0332 13.6383 15.9765 12.4453 15.9765 10.994C15.9765 9.54272 17.0124 8.34973 18.3161 8.34973C19.6184 8.34973 20.6751 9.54272 20.6543 10.994C20.6543 12.4453 19.6184 13.6383 18.3161 13.6383Z">
							</path>
						</svg>
					</div>
					<% for (guild of guilds) { %>
						<a href="/channel/<%= guild.id%>/1" style="margin: 0px;">
							<% if (guild.icon) { %>
								<img src="https://cdn.discordapp.com/icons/489449496527503390/fa0f0e4cf2830aa8444ddb4c329b5162.webp?size=96" style="width:48px;height:auto" class="rounded-circle"  data-toggle="tooltip" data-placement="right" title="<%= guild.name %>">
							<% } else { %>
								<div style="width: 48px;height:48px;background-color: #36393f;border-radius: 50%;display: inline-block;" data-toggle="tooltip" data-placement="right" title="<%= guild.name %>">
									<span style="width:48px;height:48px;display: table-cell;color:white;vertical-align:middle;text-align:center;"><%= guild.nameAcronym %></span>
								</div>
							<% } %>
						</a>
					<% } %>
					<!--Add server button-->
					<div style="width: 48px;height:48px;background-color: #36393f;border-radius: 50%;display: inline-block;" data-toggle="tooltip" data-placement="right" title="Add a server" >
						<svg aria-hidden="false" width="32" height="32" viewBox="0 0 24 24" style="display: block;margin:0 auto;color:#3ba55d;margin-top:8px;" type="button" data-toggle="modal" data-target="#exampleModalCenter">
							<path fill="currentColor" d="M20 11.1111H12.8889V4H11.1111V11.1111H4V12.8889H11.1111V20H12.8889V12.8889H20V11.1111Z"></path>
						</svg>
					</div>
				</div>
				<div class="channel-selector">
					<div class="server-header">
						<div class="dropdown">
						  <button onclick="myFunction()" class="dropbtn"><%= guild.name %></button>
						  <div id="myDropdown" class="dropdown-content">
						    <a class="dropdown-item" href="#">Server Boost</a>
								<hr>
						    <a class="dropdown-item" href="#">Invite people</a>
						    <a class="dropdown-item" href="#">Server settings</a>
						    <a class="dropdown-item" href="#">Server Insights</a>
						    <a class="dropdown-item" href="#">Create Channel</a>
						    <a class="dropdown-item" href="#">Create Event</a>
								<hr>
						    <a class="dropdown-item" href="#">Notification Settings</a>
						    <a class="dropdown-item" href="#">Privacy Settings</a>
						    <hr>
						    <a class="dropdown-item" href="#">Edit Server Profile</a>
						    <a class="dropdown-item" href="#">Hide Muted Channels</a>
						  </div>
						</div>
					</div>
					<% for (c of channels) { %>
						<p><%= c.name %></p>
					<% } %>
				</div>
				<div class="text-channel">
					<div class="server-header" style="position: absolute;width: calc(100vw - 312px);background-color: #36393f;padding:10px;">
						<svg width="24" height="24" viewBox="0 0 24 24" style="color:#8e9297">
							<path fill="currentColor" d="M14 8C14 7.44772 13.5523 7 13 7H9.76001L10.3657 3.58738C10.4201 3.28107 10.1845 3 9.87344 3H8.88907C8.64664 3 8.43914 3.17391 8.39677 3.41262L7.76001 7H4.18011C3.93722 7 3.72946 7.17456 3.68759 7.41381L3.51259 8.41381C3.45905 8.71977 3.69449 9 4.00511 9H7.41001L6.35001 15H2.77011C2.52722 15 2.31946 15.1746 2.27759 15.4138L2.10259 16.4138C2.04905 16.7198 2.28449 17 2.59511 17H6.00001L5.39427 20.4126C5.3399 20.7189 5.57547 21 5.88657 21H6.87094C7.11337 21 7.32088 20.8261 7.36325 20.5874L8.00001 17H14L13.3943 20.4126C13.3399 20.7189 13.5755 21 13.8866 21H14.8709C15.1134 21 15.3209 20.8261 15.3632 20.5874L16 17H19.5799C19.8228 17 20.0306 16.8254 20.0724 16.5862L20.2474 15.5862C20.301 15.2802 20.0655 15 19.7549 15H16.35L16.6758 13.1558C16.7823 12.5529 16.3186 12 15.7063 12C15.2286 12 14.8199 12.3429 14.7368 12.8133L14.3504 15H8.35045L9.41045 9H13C13.5523 9 14 8.55228 14 8Z"></path>
							<path fill="currentColor" d="M21.025 5V4C21.025 2.88 20.05 2 19 2C17.95 2 17 2.88 17 4V5C16.4477 5 16 5.44772 16 6V9C16 9.55228 16.4477 10 17 10H19H21C21.5523 10 22 9.55228 22 9V5.975C22 5.43652 21.5635 5 21.025 5ZM20 5H18V4C18 3.42857 18.4667 3 19 3C19.5333 3 20 3.42857 20 4V5Z"></path>
						</svg>
						<span style="color:white"><%= channel.name %></span><span class="mx-2">|</span><span style="color:#a0afbb"><%= channel.topic %></span>
					</div>
					<div class="text-area" style="padding: 52px 3px 0px;">
						<!--div id="messages" style="max-height:calc(100vh - 130px);overflow-y:scroll"-->
						<div style="max-height:calc(100vh - 130px);overflow-y:scroll;width:">
							<%- include('./components/messages')%>
						</div>
					</div>
					<div class="text-input" style="white-space: nowrap;">
						<svg width="24" height="24" viewBox="0 0 24 24" class="icon-upload">
							<path fill="currentColor" d="M12 2.00098C6.486 2.00098 2 6.48698 2 12.001C2 17.515 6.486 22.001 12 22.001C17.514 22.001 22 17.515 22 12.001C22 6.48698 17.514 2.00098 12 2.00098ZM17 13.001H13V17.001H11V13.001H7V11.001H11V7.00098H13V11.001H17V13.001Z"></path>
						</svg>
						<input type="text" placeholder="Message #{{CHANNEL.NAME}}" class="text-field" id="message"></input>
					</div>
				</div>
				<div class="member-section" style="padding-top:48px">
					<div class="role-list" style="padding:20px;">
						<p>{{ROLE.NAME}} - {{ROLE.COUNT}}</p>
						<% for (let i = 0; i < 10; i++) { %>
							<div class="media" style="padding-bottom: 2px;">
								<img class="mr-3 rounded-circle" src="http://192.168.0.14:3000/img/avatar/<%= user.discriminator % 5 %>.png" alt="Generic placeholder image" style="width:32px; height:auto">
								<div class="media-body">
								<h6 class="mt-0" style="margin: 0px;"><%= user.username %></h6>
									Playing medal
							</div>
						</div>
						<% } %>
					</div>
				</div>
			</div>
		</div>
		<%- include('./components/server-popup')%>
	</body>
	<script src="/js/socket.js"></script>
</html>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
